@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  background-color: transparent;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

/*+ DISPLAY CONTENT +*/
.row{
  margin:0 !important;
}
.display-row{
  display: flex;
  flex-direction: row;
}
.display-column {
  display: flex;
  flex-direction: column;
}
/*- DISPLAY CONTENT -*/

/*+ ORDER CONTENT +*/
.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
/*- ORDER CONTENT -*/

/*+ SIZE CONTENT +*/
.size-0 {
  flex-grow: 0;
}
.size-1 {
  flex-grow: 1;
}
.size-2 {
  flex-grow: 2;
}
.size-3 {
  flex-grow: 3;
}
.size-4 {
  flex-grow: 4;
}
.size-5 {
  flex-grow: 5;
}
.size-20 {
  flex-grow: 20;
}
/*+ SIZE CONTENT +*/

/*- SHOW/HIDE CONTENT -*/
.hide {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0 !important;
  position: fixed;
  z-index: -10000;
}

.show{
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.6s linear;
  -webkit-transition: visibility 0.6s, opacity 0.6s linear;
  -moz-transition: visibility 0.6s, opacity 0.6s linear;
  -ms-transition: visibility 0.6s, opacity 0.6s linear;
  -o-transition: visibility 0.6s, opacity 0.6s linear;
}
/*+ SHOW/HIDE CONTENT +*/