
/*+ BACKGROUND VIDEO +*/
.background-video {
  position: fixed;
  width: 100%;
  min-height: 1080px;
  background-color: rgba(40, 46, 52, 0.334);
}

.background-video video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  z-index: -9999;
}
/*- BACKGROUND VIDEO -*/

/*+ HUD +*/
.hud {
  text-align: left;
  margin-top: 25px;
  z-index: 1;
}
.bg-bar {
  width: 500px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.health-bg {
  height: 34px;
  box-shadow: rgba(0, 0, 0, 0.45);
}
.power-bg {
  height: 13px;
}
.health-bar{
  height: 24px;
  width: 490px;
  background-color: #f53b51;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.power-bar {
  height:5px;
  width: 290px;
  background-color: #ffaf03;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.profile-photo{
  display: block;
  order: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 115.438px;
  max-height: 115.438px;
}
.hud-text {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 2px;
  padding-left: 10px;
}

.hud-button-panel {
  position:fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
/*- HUD -*/

/*+ CONTAINER +*/
.box-container{
  width: 100%;
  padding: 0;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.45);
  border: 0.8px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 2;
}
.box-header{
  padding: 0px;
  margin: 0 !important;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.box-title{
  width: 98%;
}
.box-title-button{
  width: 3%;
}
.box-h2{
  margin-top: auto !important;
  margin-left: 15px !important;
  margin-bottom: auto !important;
  font-family: "Lato", sans-serif;
  padding: 10px;
  letter-spacing: 3px;
  font-size: 28px;
  font-weight: 400;
}
.item-box-container{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.45);
    padding: 5px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.jobs-container{
  height: 450px;
}
/*- CONTAINER -*/

/*+ BUTTONS +*/
.close-button{
  margin-top: auto;
  margin-bottom: auto;
  max-height: 25px;
  background: transparent;
  border-style: none;
  outline:5px auto -webkit-focus-ring-color;
  color: #fff;
}
.hud-button{
    height: 75px;
    width: 75px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-style: none;
    color: #fff;
    box-shadow: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.hud-button:focus{
    outline:none;
}
.button-icon{
  width: 100%;
  max-width: 50px;
  height: auto;
}
/*- BUTTONS -*/

/*+ LOADING SCREEN+*/
.load-screen-bg
{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 10;
}
.loading-content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  z-index: 11;
}
.loading-text{
    margin-top: auto;
    margin-left: 15px;
    margin-bottom: auto;
    font-family: "Lato", sans-serif;
    padding: 10px;
    letter-spacing: 4px;
    font-size: 38px;
    font-weight: 400;
}
.loading-text:after {
  content: '.';
  animation: dots 1.5s steps(5, end) infinite;
  -webkit-animation: dots 1.5s steps(5, end) infinite;
}

.load-bar
{
  position: relative;
  height: 30px;
  width: 35%;
  padding: 5px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.397);
  box-shadow: inset 0 -1px 1px rgba(100, 100, 100, 0.3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 12;
}
.load-bar > span {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}
@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);
    }
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
    }
  }
/*- LOADING SCREEN-*/

/*+ TIMELINE +*/
.timeline-header{
  text-align: center;  
}
.timeline-container{
  position: relative;
  height: 620px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-content
{
  position: relative;
}
.timeline-content::before
{
  content: "";
  background: #fff;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-card {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-card .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-card::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}
.timeline-point {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 58px;
  margin-left: -15px;
}
.timeline-flex{
  display: flex;
  justify-content: center;
  width: 100%;
}
.timeline-card {
  position: relative;
  width: 350px;
  margin-right: 450px;
  padding:30px 30px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 30px 35px -15px rgba(0, 0, 0, 0.6);
}
.timeline-card::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 65px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
}
.date {
  background: #fff;
  display: inline-block;
  color: #222;
  padding: 10px;
  position: absolute;
  top: -15px;
  right: -15px;
  box-shadow: 0 30px 35px -15px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
}
/*- TIMELINE -*/
