
/*+ BACKGROUND VIDEO +*/
.background-video {
  position: fixed;
  width: 100%;
  min-height: 1080px;
  background-color: rgba(40, 46, 52, 0.334);
}

.background-video video {
  position: fixed;
  min-width: 100%;
  top: 0;
  z-index: -9999;
}
/*- BACKGROUND VIDEO -*/

/*+ HUD +*/
.hud {
  text-align: left;
  margin-top: 25px;
  z-index: 1;
}
.bg-bar {
  width: 500px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.health-bg {
  height: 34px;
  box-shadow: rgba(0, 0, 0, 0.45);
}
.power-bg {
  height: 13px;
}
.health-bar{
  height: 24px;
  width: 490px;
  background-color: #f53b51;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.power-bar {
  height:5px;
  width: 290px;
  background-color: #ffaf03;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.profile-photo{
  display: block;
  order: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 115.438px;
  max-height: 115.438px;
}
.hud-text {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 2px;
  padding-left: 10px;
}

.hud-button-panel {
  position:fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
/*- HUD -*/

/*+ CONTAINER +*/
.box-container{
  width: 100%;
  padding: 0;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.45);
  border: 0.8px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.box-header{
  padding: 0px;
  margin: 0 !important;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.box-h2{
    margin-top: auto !important;
    margin-left: 15px !important;
    margin-bottom: auto !important;
    font-family: "Lato", sans-serif;
    padding: 10px;
    letter-spacing: 3px;
    font-size: 28px;
    font-weight: 400;
}
.item-box-container{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.45);
    padding: 5px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/*- CONTAINER -*/

/*+ BUTTONS +*/
.close-button{
  margin-top: auto;
  margin-bottom: auto;
  max-height: 25px;
  background: transparent;
  border-style: none;
  outline:5px auto -webkit-focus-ring-color;
  color: #fff;
}
.hud-button{
    height: 75px;
    width: 75px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-style: none;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.hud-button:focus{
    outline:none;
}
.button-icon{
  width: 100%;
  max-width: 50px;
  height: auto;
}
/*- BUTTONS -*/